//
   Created by apple on 15/3/10.

extends ../boot_layout


block content


    nav.navbar.navbar-default.navbar-static-top(style="margin-bottom:0;")
        .container-fluid
            .row(style="padding:6px 0;")

                .col-xs-4.category-menu

                    a#dropdownMenu1.dropdown-toggle(data-toggle='dropdown', aria-expanded='true')
                        span.glyphicon.glyphicon-align-justify(aria-hidden='true')
                        span(style="padding-left:5px; font-size:12px;") 分类

                    ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
                        each item in category
                            li(role='presentation')
                                a(role='menuitem', tabindex='-1', href="/customer/category/#{item.id}") #{item.name}
                            li.divider


                .col-xs-8.category-menu
                    a
                        span(style="padding-left:5px; font-size:12px;") 面食 (#{product.length})


                //
                    .col-xs-4.category-menu-right
                        a
                            span.glyphicon.glyphicon-shopping-cart


    //产品信息
    ul.media-list

        each item in product

            li.media.product-list
                .media-left
                    a(href='#')
                        img.media-object(src='/images/album-bb.jpg', alt='...')
                .media-body
                    .row
                        .col-xs-6
                            h5.media-heading #{item.name}
                            p #{item.price} ¥

                        .col-xs-6(style="text-align:center; padding-top:10px;")

                            .input-group.input-group-sm(style="margin:0 auto;")
                                span#basic-addon2.input-group-addon.product-minus
                                    span.glyphicon.glyphicon-minus-sign(aria-hidden='true')

                                input.form-control(type='text', readonly="true",placeholder="0", aria-describedby='basic-addon2')

                                span#basic-addon2.input-group-addon.product-plus
                                    span.glyphicon.glyphicon-plus-sign(aria-hidden='true')


    nav.navbar.navbar-default.navbar-fixed-bottom#shopping_cart(style="display:none;")
        .container
            .row
                .col-xs-8.category-menu
                    a
                        span.glyphicon.glyphicon-shopping-cart
                            sup#shopping_cart_count(style="padding:5px;") 0

                    span(style="padding-left:5px;") 合计：12


                .col-xs-4.category-menu-right
                    a(href="#") 选好了



    script.
        $(document).ready(function(){

            $(".product-minus").bind("click", function(){

                var currentVal = $(this).next().val();

                if(parseInt(currentVal) > 0){

                    currentVal = currentVal -1;
                }else{

                    return;
                }

                $(this).next().val(currentVal);


                addCount("sub");

            });

            $(".product-plus").bind("click", function(){

                var currentVal = $(this).prev().val();

                if(currentVal == ""){

                    currentVal = 0;
                }

                currentVal = parseInt(currentVal)  + 1;

                $(this).prev().val(currentVal);

                addCount("add");

            });

        });

        function addCount(type){

            $("#shopping_cart").show();

            var currentCount = $("#shopping_cart_count").html();

            if(type == "add")
                currentCount = parseInt(currentCount) + 1;

            if(type == "sub")
                currentCount = parseInt(currentCount) - 1;

            $("#shopping_cart_count").html(currentCount);

            if(currentCount <= 0)
                $("#shopping_cart").hide();
        }